###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set default behavior for command prompt diff.
#
# This is need for earlier builds of msysgit that does not have it on by
# default for csharp files.
# Note: This is only used by command line
###############################################################################
#*.cs     diff=csharp

###############################################################################
# Set the merge driver for project and solution files
#
# Merging from the command prompt will add diff markers to the files if there
# are conflicts (Merging from VS is not affected by the settings below, in VS
# the diff markers are never inserted). Diff markers may cause the following 
# file extensions to fail to load in VS. An alternative would be to treat
# these files as binary and thus will always conflict and require user
# intervention with every merge. To do so, just uncomment the entries below
###############################################################################
*.sln       merge=binary
*.csproj    merge=binary
*.vbproj    merge=binary
*.vcxproj   merge=binary
*.vcproj    merge=binary
*.dbproj    merge=binary
*.fsproj    merge=binary
*.lsproj    merge=binary
*.wixproj   merge=binary
*.modelproj merge=binary
*.sqlproj   merge=binary
*.wwaproj   merge=binary

###############################################################################
#libraries
*.dll   binary
*.lib   binary
*.exe   binary
*.exp binary

#3d files
*.dgn   binary
*.dwg  binary
*.jt binary
*.fbx binary
*.max binary
*.blend binary
*.blend1 binary

#Ella files
*.ecp binary
*.epr binary
*.ewp binary
*.elt binary
#Sound and video files
*.mp3 binary
*.mp4 binary
*.wav binary
*.emt binary
*.ogg binary
*.ogv binary
*.mov binary

*.ttf binary

*.zip binary
*.rar binary

*.pdf binary
*.sdf binary
*.icns binary

#misc
*.adb binary
*.ads binary
*.aps binary
*.am binary
*.amc binary
*.ansi binary
*.asf binary
*.asset binary
*.awk binary
*.bin binary
*.bmp binary
*.bullet binary
*.dbg binary
*.db binary
*.db-journal binary
*.dds binary
*.def binary
*.dos binary
*.dox binary
*.doxygen binary
*.dpr binary
*.dwf binary
*.filters binary
*.idb binary
*.idl binary
*.ilk binary
*.in binary
*.pdb binary
*.ipdb binary
*.map binary
*.mat binary
*.mk binary
*.msc binary
*.obj binary
*.pch binary
*.prefab binary
*.renderTexture binary
*.sdf binary
*.so binary
*.svg binary
###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.png.5   binary
*.gif   binary
*.xcf  binary
*.ico   binary
###############################################################################
# diff behavior for common document formats
# 
# Convert binary document formats to text before diffing them. This feature
# is only available from the command line. Turn it on by uncommenting the 
# entries below.
###############################################################################
#*.doc   diff=astextplain
#*.DOC   diff=astextplain
#*.docx  diff=astextplain
#*.DOCX  diff=astextplain
#*.dot   diff=astextplain
#*.DOT   diff=astextplain
#*.pdf   diff=astextplain
#*.PDF   diff=astextplain
#*.rtf   diff=astextplain
#*.RTF   diff=astextplain
